html,
body {
  font-size: var(--font-size);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

p {
  margin: 10px 0;
}

a {
  color: var(--link-color);

  &:hover {
    color: color(var(--link-color) lightness(+ 20%));
  }
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
