.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  background: var(--dark-gray-color);
  color: #fff;
  &:hover {
    color: #fff;
  }
  &:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  }
}

.btn--primary {
  background: var(--primary-color);
  &:hover {
    background: color(var(--primary-color) blackness(+ 10%));
  }
}

.btn--success {
  background: var(--success-color);
  &:hover {
    background: color(var(--success-color) blackness(+ 10%));
  }
}

.btn--info {
  background: var(--info-color);
  &:hover {
    background: color(var(--info-color) blackness(+ 10%));
  }
}

.btn--warning {
  background: var(--warning-color);
  &:hover {
    background: color(var(--warning-color) blackness(+ 10%));
  }
}

.btn--danger {
  background: var(--danger-color);
  &:hover {
    background: color(var(--danger-color) blackness(+ 10%));
  }
}

.btn-group {
  margin: var(--default-spacing);
}
