.panel {
  background: white;
  border: 1px solid #ccc;
  margin: 10px var(--default-spacing);
}

.panel__header,
.panel__footer {
  padding: var(--default-spacing);
}

.panel__body {
  padding: var(--default-spacing);
}

.panel--default {
  border-color: color(var(--light-gray-color) blackness(+ 10%));
}

.panel--default .panel__header,
.panel--default .panel__footer {
  background: var(--light-gray-color);
  color: var(--dark-gray-color);
}

.panel--info {
  border-color: color(var(--info-color) blackness(+ 10%));
}

.panel--info .panel__header,
.panel--info .panel__footer {
  background: var(--info-color);
  color: #fff;
}

.panel--warning {
  border-color: color(var(--warning-color) blackness(+ 10%));
}

.panel--warning .panel__header,
.panel--warning .panel__footer {
  background: var(--warning-color);
  color: #fff;
}

.panel--danger {
  border-color: color(var(--danger-color) blackness(+ 10%));
}

.panel--danger .panel__header,
.panel--danger .panel__footer {
  background: var(--danger-color);
  color: #fff;
}
