@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import "styles";
@import "components/utilities";
@import "components/nav";

html,
body {
  font-family: 'Lora', serif;
  font-size: var(--font-size);
  color: #777;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', serif;
  line-height: 1.5em;
  margin-top: 0.15em;
  margin-bottom: 0.25em;
  color: #666;
}

::selection {
  background: color(var(--link-color) alpha(-20%));
  color: #fff;
}

p {
  margin: 10px 0;
}

a {
  font-family: 'Roboto', serif;
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: color(var(--link-color) lightness(+ 20%));
  }
}

.features {
  margin-left: 40px;
}

.features__item {
  padding-left: 10px;
}

.top-line {
  border-top: 3px solid var(--link-color);
}

.v-align {
  display: table;
  height: 90%;
  width: 100%;
}

.v-align-40 {
  display: table;
  height: 40%;
  width: 100%;
}

.v-align > div,
.v-align-40 > div {
  display: table-cell;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  padding: 10px 30px;
  margin: 0 auto;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn-primary {
  background: var(--link-color);
  border-radius: 25px;
  border: 2px solid var(--link-color);
  color: white;
  &:hover {
    background: white;
    border-color: color(var(--link-color) lightness(+ 20%));
    color: color(var(--link-color) lightness(+ 20%));
  }
}

.demo {
  background: var(--success-color);
  color: #fff;
  padding: 10px;
  font-family: monospace;
  font-size: 0.6em;

  /* Fix: words longer than container will cause extra width */
  word-wrap: break-word;
}
